.tugas6 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
  font-family: "Calibri", sans-serif;
  background-color: #ffffff;
}

.kontainer {
    background-color: white;
    padding: 40px 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 73%;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #343a40;
}

p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  border-top: 1px solid #6c757d;
  padding-top: 20px;
}

.tugas7 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -200vh;
  margin: 0;
  font-family: "Calibri", sans-serif;
  background-color: #ffffff;
}

.card {
  background-color: white;
  padding: 40px 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 73%;
}

.card h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card ul {
    margin-top: 30px;
    margin-bottom: 5px;
    border-top: 1px solid #6c757d;
    padding-top: 20px;
}

.card ul li {
  font-size: 16px;
  margin-bottom: 5px;
}

.card ul li strong {
  font-weight: bold;
}

.tugas8-container {
  width: 890px;
  margin: 50px auto;
  padding: 10px;
  text-align: center;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #ffffff;
}

.count-display {
  font-size: 24px;
  margin-bottom: 10px;
}

.increment-button {
  padding: 5px 400px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eee;
  cursor: pointer;
}

.increment-button:hover {
  background-color: #ddd;
}

.warning-text {
  margin-top: 15px;
  color: red;
  font-weight: bold;
}
